bundles/AwardWallet/MainBundle/Resources/config/urlRules.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="universalLinksType">
        <xs:sequence>
            <xs:element name="host" type="hostType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hostType">
        <xs:sequence>
            <xs:element name="path" type="pathType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="scheme" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="pathType">
        <xs:sequence>
            <xs:element name="route" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="regex" type="regexType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="handler" type="handlerType"/>
        </xs:sequence>
        <xs:attribute name="url" type="xs:string" use="required"/>
        <xs:attribute name="event" type="xs:string" use="required"/>
        <xs:attribute name="exclude-platform" type="platformType"/>
    </xs:complexType>

    <xs:complexType name="regexType">
        <xs:sequence>
            <xs:element name="set" type="setType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="url-part" type="urlPartType" default="path"/>
        <xs:attribute name="pattern" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="handlerType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="location" type="locationType"/>
            <xs:element name="state" type="stateType"/>
            <xs:element name="choose" type="chooseType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="setType">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="key" type="xs:string" use="required" />
    </xs:complexType>

    <xs:simpleType name="urlPartType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="url"/>
            <xs:enumeration value="scheme"/>
            <xs:enumeration value="host"/>
            <xs:enumeration value="path"/>
            <xs:enumeration value="hash"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="platformType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ios"/>
            <xs:enumeration value="android"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="locationType">
        <xs:attribute name="url-part" type="urlPartType" use="required" />
    </xs:complexType>

    <xs:complexType name="stateType">
        <xs:sequence>
            <xs:element name="param" type="paramType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="route" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="paramType">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="chooseType">
        <xs:sequence>
            <xs:element name="when" type="whenType" maxOccurs="unbounded" />
            <xs:element name="otherwise" type="otherwiseType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="whenType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="location" type="locationType"/>
            <xs:element name="state" type="stateType"/>
        </xs:choice>
        <xs:attribute name="var" type="xs:string" use="required" />
        <xs:attribute name="pattern" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="otherwiseType">
        <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element name="location" type="locationType"/>
            <xs:element name="state" type="stateType"/>
        </xs:choice>
    </xs:complexType>

    <xs:element name="universal-links" type="universalLinksType"/>
</xs:schema>